// Here you can add other styles
.sidebar-brand {
    font-size: 0.6em;
}
.widget__provider {
    .fw-semibold {
        color: #000000;
    }
}
.sidebar-brand-full {
    width: 100%;
    padding: 20px;
}